<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Week 1 {% endblock title %} . Django Exercises</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">
  </head>
  <body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "home" %}">Django Exercise</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url "home" %}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "about" %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "hello" %}">Hello</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
    -->
      </ul>
      <!--<form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    -->
    </div>
  </div>
</nav>
</header>  
    <main class="container">
        {% block content %}{% endblock content %}
    </main>
    </header> 
    <footer class="py-3 my-4"> 
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"> 
        <li class="nav-item"><a href="{% url "home" %}" class="nav-link px-2 text-body-secondary">Home</a></li> 
        <li class="nav-item"><a href="{% url "about" %}" class="nav-link px-2 text-body-secondary">About</a></li>
        <li class="nav-item"><a href="{% url "hello" %}" class="nav-link px-2 text-body-secondary">Hello</a></li>  
        </ul> 
        <p class="text-center text-body-secondary">IT 373 Week 1 . Djang MVT . EVSU</p> 
    </footer> 
  </body>
</html>